/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    html {
        font-size: 4.25% !important;
    }
    .backpart-item-text,
    .backpart-pic {
        width: 100%;
        min-width: unset !important;
    }
    .about-pic-img {
        min-width: unset !important;
    }
    .service-course,
    .course-main,
    .testimonial-main {
        grid-template-columns: 1fr;
    }
    .video-player,
    .video-info {
        min-width: 100%;
    }
    .footer-block {
        min-width: 100% !important;
        align-items: center;
    }
}
@media (max-width: 601px) {
    .cta-group-pic {
        display: none;
    }
    .cta-wrap {
        width: 100%;
    }
}
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .hero-pic-bg-eclipse {
        display: none;
    }
    .hero-pic-bg,
    .hero-pic-info-img img {
        width: 100%;
        height: auto;
    }
    .backpart-pic {
        margin-inline: 0;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    html {
        font-size: 5.25%;
    }
    .header-menu,
    .introduce,
    .header-cta {
        display: none;
    }
    .header-menu-mobile {
        display: block;
    }
    .backpart .content {
        flex-direction: column;
        align-items: stretch;
    }
    .backpart-pic {
        margin-top: 50rem;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
